.user {
    padding: 32px 0;
    border-bottom: 1px solid #e5e5e5;
}

.user__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__leftSide {
    display: flex;
    align-items: center;
}

.user__image {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    background-color: #e0e0e0;
}

.user__info {
    padding-left: 24px;
}

.user__info a {
    text-decoration: none;
}

.user__fullname {
    font-size: 20px;
    font-weight: 500;
    color: #1d1d1f;
    transition: all .2s linear;
}

.user__fullname:hover {
    color: #757575;
}

.user__car {
    font-size: 16px;
}

.user__rightSide {
    display: flex;
}

.user__location {
    text-align: right;
    margin-right: 24px;
}

.user__follow {
    width: 100px;
    cursor: pointer;
    display: block;
    background-color: #1d1d1f;
    border: 0;
    border-radius: 3px;
    outline: 0;
    color: #fff;
    padding: 10px 20px;
}

.user__unfollow {
    width: 100px;
    cursor: pointer;
    display: block;
    border: 1px solid #1d1d1f;
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    color: #1d1d1f;
    padding: 10px 20px;
}
